<table class="table table-striped">
  <thead>
    <tr class="text-muted">
      <th></th>
      <th>Sender</th>
      <th>Subject</th>
      <th></th>
      <th>Send On</th>
    </tr>
  </thead>
  <tbody>
    <% conversations.each do |conversation| %>
      <tr>
        <th scope="row"></th>
        <td><%= conversation.originator.name %></td>
        <td colspan="2"><a href="#" class="pull-left"><%= conversation.subject %></a></td>
        <td><%= conversation.created_at.to_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>